[submodule "assets/SamuelTurnerUI"]
	path = assets/SamuelTurnerUI
	url = https://github.com/SamuelTurner/SamuelTurnerUI
[submodule "assets/Clingy-Footer"]
	path = assets/Clingy-Footer
	url = https://github.com/SamuelTurner/Clingy-Footer
[submodule "assets/SimpleJSMinifier"]
	path = assets/SimpleJSMinifier
	url = https://github.com/SamuelTurner/SimpleJSMinifier
[submodule "assets/inuit.css"]
	path = assets/inuit.css
	url = https://github.com/csswizardry/inuit.css
