/*------------------------------------*\
    MODULE
\*------------------------------------*/
/**
 * The modules that make up the basis of the site
 */
.module {
	@extend .cf;
	background-color: $background-color-2;
	padding: $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
	
	&.emphasis {
		background-color: $background-color-3;
		color: $font-color-2;
		padding-left: #{$base-spacing-unit + 50px};
		position: relative;
		
		&:before {
			position: absolute;
			top: $half-spacing-unit;
			left: $base-spacing-unit;
			
			line-height: 1;
			content: "!";
			font-size: $kilo-size;
			font-weight: bold;
			color: $brand-color-2;
		}
		
	}
	
}