/*------------------------------------*\
    CODE
\*------------------------------------*/

pre code,
.block-code {
	display: block;
	padding: $half-spacing-unit;
	background-color: $background-color-1;
}

.block-code {
	margin-bottom: $base-spacing-unit;
}