/*------------------------------------*\
    FORMS
\*------------------------------------*/
/**
 * Elements
 */
input[type=text],
input[type=password],
input[type=email],
select,
textarea,
fieldset {
	@include vendor(border-radius, 4px);
	border: 1px solid $border-color-1;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
	padding: 5px;
}

label {
	padding: 5px 0;
}

/**
 * Form Rows
 */
.form-row-wrapper,
.form-row {
	@extend .cf;
	display: block;
}

.form-row {
	margin: $half-spacing-unit;
}

/**
 * Inline Items (make any items with the class in a form-row appear in a line)
 */
.form-row {
	.inline-item {
		display: inline-block;
	}
	
	.inline-label {
		width: 250px;
		text-align: right;
	}
}